@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenido-menu {
    background-image: url(../img/cafe.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    //aspect-ratio: 1 / 2;    //* Por cada pixel horizontal voy a usar 2 vertical... depende lo que se necesite
    aspect-ratio: 3 / 6;    //* Por cada 3 pixeles horizontales voy a usar 5 verticales... depende lo que se necesite

    @include m.telefono { 
        aspect-ratio: 3 / 4;
    } 

    @include m.tablet { 
        @include m.grid(2, v.$separacion);
        aspect-ratio: 16 / 6;
        background-size: 40%;
        background-position: bottom right;
    } 

    .texto {
        p {
            font-size: 2rem;
        }
    }
}